<h1> <%= "Hello, #{@data.email}" %> </h1>

<p style="text-align: justify-all;">
<b> Your Message :</b> <%= "#{@data.message}" %> <br>
</p>
<p style="color: blue;">
We Will Contcat You Soon...
</p>
<br>
<b> Regards: <br> 
Pardeep </b>(Developer)


