<h1>Available Posts</h1>
<div class="">
 <table class="table table-bordered table-hover">
  <tr>
    <th class="success">Title</th>  
  </tr> 
  <% @posts.each do |p| %>
    <tr>
      <td class="warning" ><%= p.title %></td> 
    </tr>
  <% end %>
 </table>
</div>
<br> <br>
