body {
	margin-top: 70px;
}
.fbox{
	text-align: center;
}

.fbox span {
	font-size: 75px;
}
.jumbotron p {
	text-align: center;
	opacity: 0.9;
	font-size: 15px;
} 
.footer {
	text-align: center;
}
.jumbotron h3 {
	font-weight: bold;
}
#mydiv{
	display: none;

}
#mydiv1{
	display: none;
	text-align: center;

}
td {
	text-align: left;
}
.jumbotron span {
	font-size: 75px;	
}
.col-sm-4 h3,p {
	text-align: center;
}
.col-sm-4 span {
	font-size: 70px;
	text-align: center;
}
#mymsg{
	display: none;
}
#easy{
display: none;	
}
.alert {
background-color: #E28490;
font-weight: bold;
font-size: 15px;
}
.myfooter{
	background-color: #292c2f;
	color: white;
	height: 300px;
	margin-bottom: 0px;
}